<br/>
<ul class="list-group">
    <% article.comments.forEach(function (comment, index) { %>
    <li>
        <div class="info"><a href="<%= comment.website %>"><%= comment.name %></a>
            <span class="info"> 回复于 <%= comment.time %></span></div>

        <p><%- comment.content %></p>
    </li>
    <% }) %>
</ul>
<form method="post">
    <p>留言：</p>
    <% if (!user) { %>
    姓名：<input type="text" name="cname"/><br/>
    邮箱：<input type="text" name="cemail"/><br/>
    网址：<input type="text" name="cwebsite" value="http://"/><br/>
    <% } %>
    <textarea name="content" rows="5" cols="80"></textarea><br/>
    <input type="submit" value="留言"/>
</form>