</article>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.md5.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        var element = document.getElementById(window.location.pathname);
        if (element) {
            element.className = "active";
        }
    });
</script>
</body>
</html>